[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "git_playbook"
version = "1.1.0"
description = "git playbook"
authors = [
  { name="Ankit Shrivastava"}
]
keywords = [""]
classifiers = [
  "Programming Language :: Python :: 3",
  "License :: OSI Approved :: MIT License"
]
dependencies = [] # Add your pip package dependencies here

[project.optional-dependencies]
docs = [
  "sphinx",
  "sphinx-rtd-theme",
  "nbsphinx",
  "myst-parser",
  "sphinx-last-updated-by-git",
  "sphinx-autodoc-typehints"
]
dev = [
  "pytest>=6.0",
  "pytest-cov>=2.0",
  "pytest-benchmark>=3.4.1",
  "black",
  "flake8",
  "isort",
  "pylint",
  "pre-commit",
]
tests = [
  "pytest",
  # "pytest-cov",
]

# -------------------------
# Black (formatter)
# -------------------------
[tool.black]
line-length = 88
target-version = ["py310"]
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.venv
  | _build
  | build
  | dist
)/
'''

# -------------------------
# isort (imports)
# -------------------------
[tool.isort]
profile = "black"
line_length = 88
src_paths = ["src", "tests"]
known_first_party = ["your_package_name"]

# -------------------------
# pytest configuration
# -------------------------

[tool.pytest.ini_options]
minversion = "6.0"

addopts = [
  "-v",
  "-ra",                 # show summary for skipped/xfail
  "--strict-markers",    # avoid typos in markers
  "--disable-warnings",  # cleaner output unless debugging
  # "--cov=src",
  # "--cov-report=term-missing",
]

testpaths = [
  "tests",
]

python_files = [
  "test_*.py",
  ]

filterwarnings = [
    "ignore::DeprecationWarning",
    "ignore::UserWarning",
]

markers = [
  "slow: slow tests",
  "integration: integration tests",
]

# -------------------------
# Coverage (pytest-cov)
# -------------------------
# [tool.coverage.run]
# branch = true
# source = ["src"]

# [tool.coverage.report]
# show_missing = true
# skip_covered = true
# precision = 1

[tool.setuptools]
package-dir = {"" = "."}

[tool.setuptools.packages.find]
where = ["."]
include = ["src*"]

[tool.pylint.'MASTER']
init-hook='import sys; sys.path.insert(0, "src")'
